*.py[cod]
.*
!.babelrc
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.flowconfig
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.eslintrc.json
!.env
*.log
*.pot
*.pyc
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/

/BACKEND/
